
body {
  background-color: pink;
}

.text {
  display: flex;
    width: 150px;
    height: 64px; /*px*/
    font-size: 28px; /*px*/
    border: 1px solid #ddd; /*no*/
}
div{
  width: 100px;
  height: 100px;
}